@font-face {
  font-family: "Jameel Noori Nastaleeq";
  src: url("/fonts/JameelNooriNastaleeqRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-spacing-trick: optimizeLegibility;
}

.urdu-text {
  font-family: "Jameel Noori Nastaleeq", serif;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
}

@import "tailwindcss";