@font-face {
  font-family: "Jameel Noori Nastaleeq";
  src: url("/fonts/JameelNooriNastaleeqRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dubai Bold";
  src: url("/fonts/Dubai.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Urdu text */
.urdu-text {
  font-family: "Jameel Noori Nastaleeq", "Noto Nastaliq Urdu", serif;
  direction: rtl;
  text-align: right;
  line-height: 2.2;
  text-rendering: optimizeLegibility;
  word-spacing: 0.05em;
}

/* Headings */
.heading-urdu{
  font-family:  "dubai bold", "jameel noori nastaleeq", sans-serif;
  text-align: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out both;
}


/* Tailwind */
@import "tailwindcss";
